body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

#root, .page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
